<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../css/epub.css" />
    </head>
    <body class="reflow">
        <nav epub:type="toc" id="toc">
            <ol>
              <% outline.items.forEach(function(item) { %>
                <li>
                  <a href="<%=item.href%>"><%=item.title%>
                  <% if (item.items && item.items.length) { %>
                    <ol>
                      <% item.items.forEach(function(childItem) { %>
                        <li><a href="<%=childItem.href%>"><%=childItem.title%></a></li>
                      <% }); %>
                    </ol>                    
                  <% } %>
                </li>
              <% }); %>
            </ol>
        </nav>
    </body>
</html>
